body, html {
    height: 100%;
    margin: 0;
}

/* Navbar */
header nav .container #navbar .navbar-right {
    padding-top: 12px;
    padding-bottom: 12px;
}
header nav .container #navbar .navbar-right a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Tahoma, Geneva, sans-serif; 
    text-decoration: None;
    color: #99ff99;
}
header nav .container #navbar .navbar-right a:hover {
    color: #009933;
}

/* Index Page */
#landing-page {
    background-image: url("../img/5element.jpg"); 
    /*opacity: 0.75;*/
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#welcome-title {
    color: #99ff99;
    opacity: 0.64;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 15px;
}

